.authentication-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.authentication-form form {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 20px;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.authentication-form h2 {
	font-size: 1.5em;
	color: #333;
	margin-bottom: 20px;
}

.authentication-form-container button {
	padding: 10px;
	margin-top: 10px;
	cursor: pointer;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.authentication-form-container button:hover {
	background-color: #3e8e41;
}